{% extends "base.html.twig" %}

{% block body %}
    <div {{ react_component('Home') }}>
        <div class="loader_wrapper">
            <div class="loader">
                <div class="circle"></div>
            </div>
        </div>
    </div>
{% endblock %}
